PORT=3002

NODE_ENV=development

DB_HOST=ms-users-postgres
DB_PORT=5432
DB_USER=users_user
DB_PASSWORD=users_password
DB_NAME=users_db

JWT_SECRET=ILIACHALLENGE
JWT_EXP_IN_HOURS=1

INTERNAL_TOKEN=ILIACHALLENGE_INTERNAL

PASSWORD_HASH_SALT_ROUNDS=10

WALLET_GRPC_URL="ms-wallet:3003"
