PORT=3001
GRPC_HOST=0.0.0.0
GRPC_PORT=3003

NODE_ENV=development

DB_HOST=ms-wallet-postgres
DB_PORT=5432
DB_USER=wallet_user
DB_PASSWORD=wallet_password
DB_NAME=wallet_db

INTERNAL_TOKEN=ILIACHALLENGE_INTERNAL

JWT_SECRET=ILIACHALLENGE